@import "tailwindcss";

@layer utilities {
  .premium-scrollbar::-webkit-scrollbar {
    height: 3px;
    width: 3px;
  }
  .premium-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .premium-scrollbar::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
  }
  .premium-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #cbd5e1;
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
